<h1 class="jumbotron">Edit Doctor</h1>

<div class="container">

  <%= simple_form_for @doctor do |f| %>
    <%= f.input :username %>
    <%= f.input :address %>
    <%= f.input :gender %>
    <%= f.button :submit %>
  <% end %>

  <br>

  <%= link_to 'Back to home', doctors_path, class: "btn btn-primary" %>

  <br><br>

</div>
