<h1 class="jumbotron">View Profile</h1>

<div class="container">

  <table class="table">
    <thead>
      <th>Username</th>
      <th>Address</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle"><%= @doctor.username %></td>
        <td class="align-middle"><%= @doctor.address %></td>
        <td class="align-middle"><%= @doctor.gender.capitalize %></td>
        <td><%= link_to 'Edit Profile', edit_doctor_path(@doctor), class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Remove', doctor_path(@doctor), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Back to home', doctors_path, class: "btn btn-primary" %>

</div>
